:root {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --gray-700: hsl(0, 0%, 20%);
    --gray-800: hsl(0, 0%, 12%);
    --gray-900: hsl(0, 0%, 8%);
}

* {
    margin: 0;
    padding: 0;
    color: var(--white);
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background: var(--gray-900);
}

.main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    width: 380px;
    padding: 2.5rem;
    display: flex;
    align-items: center;
    border-radius: 12px;
    flex-direction: column;
    background: var(--gray-800);
}

.image {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-image: url(./assets/avatar-jessica.jpeg);
}

.name {
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.location {
    color: var(--green);
    margin-bottom: 1rem;
}

.text {
    font-size: 13px;
    font-weight: 400;
}

.links {
    gap: 1rem;
    width: 100%;
    display: flex;
    margin-top: 1rem;
    flex-direction: column;
}

a {
    font-size: 14px;
    width: 100%;
    padding: .8rem 0;
    text-align: center;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    background: var(--gray-700);
}

a:hover {
    color: #000;
    background: var(--green);
}